<h1><img src="https://fontmeme.com/permalink/200501/0419822c99c58f7a68e785dfe25b8275.png" alt="burger-king-font"
    border="0"></h1>

<div class="container">
  <div class="row main">
    <div class="col-4">
      <h3><img src="https://fontmeme.com/permalink/200501/f68dc36c0847491917fea61dac4b4d7d.png" alt="burger-king-font"
          border="0"></h3>

      
        {{#each burgers}}
        {{#unless devoured}}
        <div class="row burger">
          <div class="col-7">
            <img class="b-icon" src="/assets/images/hamburgericon.png">
            {{this.burger_name}}
          </div>
          <div class="col-5">
            <button data-burgerid="{{this.id}}" class="btn btn-danger devourburg ">Devour<img class="b-icon" src="/assets/images/eatenhamburgericon2.png"></button>
          </div>
        </div>
          {{/unless}}
          {{/each}}
        
     

    </div>
    <div class="col-3">
      <h3><img src="https://fontmeme.com/permalink/200501/2ec29937d7dd0abb861d85e42120e87e.png" alt="burger-king-font"
          border="0"></h3>
      <form id="addburger">

        <div class="form-group">
          <label for="burg">Burger Name:</label>
          <input type="text" id="burg" name="burger">
        </div>
        <button type="submit" class="btn btn-danger">Add Burger</button>
      </form>
    </div>

    <div class="col-5">
      <h3><img src="https://fontmeme.com/permalink/200501/90b644608e76590e8f2842ad9393a24c.png" alt="burger-king-font"
          border="0"></h3>

      {{#each burgers}}
      {{#if devoured}}

      <p>
        <img class="e-icon" src="/assets/images/meal.png">
        {{this.burger_name}}
      </p>

      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#addburger").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger: $("#addburger [name=burger]").val().trim()
    };
    console.log(newBurger)
    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        location.reload();
      }
    );
  });
  $(".devourburg").on("click", function (event) {
    event.preventDefault();
    var id = $(this).data("burgerid");
    console.log(id)
    var devouredBurg = {
      devoured: true
    };
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: devouredBurg
    }).then(
      function () {
        // Reload the page to get the updated list
        location.reload();
      }
    );
  })

</script>